<div class="container">
    <div class="game-chat-panel">
        <div class="game-info">
            <b>Перенос строки: </b>Enter<br />
            <b>Отправка сообщения: </b>Ctrl + Enter<br />
            <b>Кинуть куб: </b>//XdY, где X - количество кубов,
            Y - количество граней кубов <br />
            <b>Примеры: </b>//2d6 //3d10 //1d20 <br />
            В любом месте текста сообщения может быть сколько угодно кубов.
        </div>
        <div class="game-chat">
            Пока что нет сообщений...
        </div>
    </div>

    <div class="main-chat-input">
        <textarea id="message-input" class="form-control" rows="7"></textarea>
        <button id="add-msg-btn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
    </div>
</div>

<script>
    // At first ask player's name
    var playerName = prompt("Введите Ваше имя:", "");

    // If there is no name or it is empty, then set Anonymous name
    if (isEmptyOrSpaces(playerName)) {
        playerName = "Анонимус";
    }

    $("#message-input").focus();    // Then focus on the message input

    // Handle a click on the button for message addition
    $("#add-msg-btn").click(function () {
        addMessage($("#message-input").val());
    });

    // Handle key pressed event to catch Ctrl+Enter keys pressing
    $(document).keypress(function (event) {
        // if this is the Enter key - 13 (10 in Chrome) an Ctrl is pressed
        if ((event.keyCode === 10 || event.keyCode === 13) && event.ctrlKey) {
            addMessage($("#message-input").val());
        }
    });

    /**
     * Add a new message from a user.
     * param messageText String with message.
     */
    function addMessage(messageText) {
        if (isEmptyOrSpaces(messageText)) return;   // Disable empty message addition

        // If there is only one child and this is a text, remove it
        if ($(".game-chat")[0].childNodes[0].nodeName === "#text") {
            $(".game-chat").empty();
        }

        // Append a new message block to chat
        $(".game-chat").append(getMessageBlock(messageText));

        // Scroll game chat to the bottom
        // http://stackoverflow.com/questions/1890995/jquery-scroll-to-bottom-of-page-iframe
        $(".game-chat").animate({ scrollTop: $(document).height() }, "slow");

        $("#message-input").val("");    // Clear message input
        $("#message-input").focus();    // And focus on it again
    }

    /**
     * Get string with HTML code of the message block that is inserted to game chat.
     * param messageText String with player's message.
     * return String with HTML code of the message block.
     */
    function getMessageBlock(messageText) {
        return "<div class='message'><div class='player-name'>" +
            playerName +
            "</div><div class='message-body'>" +
            messageText +
            "</div></div>";
    }

    /**
     * Check is a string empty or contains spaces or newline characters only.
     */
    function isEmptyOrSpaces(str) {
        return str === null || str === undefined || str.match(/^( |\n)*$/) !== null;
    }
</script>
